appname = oauth2-demo
httpport = 8080
runmode = dev
SessionOn = true

googleClientId =
googleAuthUri = 
googleTokenUri =
googleClientSecret =
googleRedirectUri = "http://localhost:8080/google/callback"

discordClientId = 
discordAuthUri = 
discordTokenUri = 
discordClientSecret = 
discordRedirectUri = 